<div class="card">
  <img src="https://via.placeholder.com/150" alt="<%= product.name %>" class="card__image" />
  <h3 class="card__title"><%= product.name %></h3>
  <p class="card_description"><%= product.description %></p>
  <p class="card_price"><%= product.price.toFixed(2) %> zł</p>
  <a href="/products/<%= product.name %>">Details</a>
  <button onclick="deleteProduct('<%= product.name %>')">Delete</button>
</div>